{% extends 'base.html'%} {% block main %}{% load staticfiles %}
<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">

            <main class="col-md-8 main-content">
                <article class="post">
                    <header class="post-head">
                        <h1 class="post-title">充值系统 ： </h1>
                        <br>
                        <p>这里是隐藏页面，一般人找不到的哈哈哈哈</p>
                        <p>请确保你输入的信息正确，等待2~3分钟，充值码就会出出现在你面前了</p>
                    </header>
                    <hr />
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="infocode">请在下方输入流水号</label>
                            <input type="input" class="form-control" name="info_code" id="info_code" placeholder="流水号" required>
                        </div>

                        <button type="submit" class="btn btn-default">提交</button>
                    </form>
                    <br>
                    <hr>
                    
                    <div class="entry-content clearfix ">
                    <h4>提示信息：</h4>    
                        <span class="highlighted"> {{ info }} </span>
                    </div>
                    <hr>
                    
                    {% if moneycode %}
                    <h4>充值码已经生成，请尽快充值 以避免过期</h4>
                    <code> {{ moneycode }}</code>
                    {% endif %}


                </article>

            </main>



            {% endblock main%}