{% extends 'blog/base.html' %} {% block main %}
<article class="post post-1">
	<header class="entry-header">
		<h1 class="entry-title">
			{{ post.title }}
		</h1>
		<div class="entry-meta">

			<span class="post-category"><a href="#">{{ post.category.name }} </a></span>

			<span class="post-date">
      <a href="#">
        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }} </time>
      </a>
    </span>

			<span class="post-author"><a href="#">{{ post.author }} </a></span>

			<span class="comments-link"><a href="#"> read: {{ post.count }}</a></span>

		</div>
	</header>

	<div class="entry-content clearfix typo ">
		<div class="head-img img-responsive">
			<br>
			<img class='img-thumbnail' src="{{ post.headimage.url }}" alt='文章配图' width="500" height="300">
		</div>
		<br>

		<div class="body-text">
			{{ post.body|safe }}
		</div>

	</div>
</article>

<div 页教导航>

</div>




<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2131670"></script>
<!-- UY END -->
{% endblock main%}