{% extends 'blog/detailbase.html' %} {% block main %}
<article class="post post-1">
	<header class="entry-header">
		<h1 class="entry-title">
			{{ post.title }}
		</h1>
		<div class="entry-meta">

			<span class="post-category"><a href="#">{{ post.category.name }} </a></span>

			<span class="post-date">
      <a href="#">
        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }} </time>
      </a>
    </span>

			<span class="post-author"><a href="#">{{ post.author }} </a></span>

			<span class="comments-link"><a href="#"> read: {{ post.count }}</a></span>

		</div>
	</header>


	<div class="entry-content clearfix ">
		<div class="head-img img-responsive">
			<br>
			<img class='img-thumbnail' src="{{ post.headimage.url }}" alt='文章配图' width="500" height="300">
		</div>
		<br>

		<div class='jupe' id='needtoc'>
			{{ post.body|safe }}
			<br/>
			<hr/>
		</div>
	</div>
</article>

<ul class="上下文关联">
	<li>
		<a href="{{ pre_post.get_absolute_url }}"> <strong>上一篇 ：{{ pre_post.title }}</strong> </a>
	</li>
	<li>
		<a href="{{ next_post.get_absolute_url }}"> <strong> 下一篇 ：{{ next_post.title }} </strong></a>
	</li>
</ul>
<br>
<!--PC和WAP自适应版-->
<div id="SOHUCS"></div>
<script type="text/javascript">
	(function () {
		var appid = 'cysX5bI3e';
		var conf = 'prod_4e518ffe3b210926e2e71f4cff373b6f';
		var width = window.innerWidth || document.documentElement.clientWidth;
		if (width < 960) {
			window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
		} else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
	})();
</script>


{% endblock main%}