{% extends 'blog/base.html' %} {% block main %} {% for post in post_list %}
<article class="post post-1">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h1>
        </h1>
        <div class="entry-meta">
            <span class="post-category"><a href="#">{{ post.category.name }} </a></span>

            <span class="post-date">
      <a href="#">
        <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }} </time>
      </a>
    </span>

            <span class="post-author"><a href="#">{{ post.author }} </a></span>

            <span class="comments-link"><a href="#"> read: {{ post.count }}</a></span>

        </div>
    </header>
    <div class="entry-content clearfix">
        <div class="read-more cl-effect-14">
            <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
        </div>
    </div>
</article>
{% empty %}
<div class="no-post"> 暂时还没有发布文章！</div>
{% endfor%} 
<!--
<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

-->

<div class='pagination'>
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page={{ post_list.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>

{% endblock main %}