<!DOCTYPE html>
<html lang="zh">
{% load static %}

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />
    <title>Ehco'Resume - 后端开发</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <style>
        #highlight {
            color: lightcoral;
            font-weight: bold;
        }

        body {
            border: solid 2px;
            color: gray;
            margin-left: 30px;
            margin-right: 30px;
            box-shadow: 0 0 20px rgba(26, 26, 78, 0.8);
        }
    </style>
</head>

<body>
    <section class="hero is-info is-samll">
        <div class="hero-body" id="id-header">
            <div class="container">
                <div class="columns">
                    <div class="column is-5">
                        <div class="box">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-96x96">
                                        <img src="{% static 'img/headimg.png' %}">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p>联系方式: </p>
                                    <ul class="head-info">
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-envelope-o"></i>
                                            </span>
                                            <span>
                                                <strong>zh19960202@gmail.com</strong>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <span>
                                                <strong>17602543496</strong>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-github"></i>
                                            </span>
                                            <span>
                                                <strong>
                                                    <a href="https://github.com/Ehco1996">https://github.com/Ehco1996</a>
                                                </strong>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-quora"></i>
                                            </span>
                                            <span>
                                                <strong>
                                                    <a href="https://www.zhihu.com/people/Ehcostuff/activities">知乎ID: Ehco</a>
                                                </strong>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-offset-3">
                        <div class="notification is-link">
                            <p class="title is-1">周浩</p>
                            <p>爬墙的少年</p>
                            <p class="subtitle is-4">Python/后端/开发</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="hero is-light is-fullheight">
        <div class="container">
            <br>
            <div class="columns">
                <div class="column">
                    <div class="box message">
                        <span class="tag is-link is-large">个人相关</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>个人微信订阅号:翻山越岭breakwall</p>
                                <p>2016-11 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>主要分享和
                                        <strong>科技/生活相关的信息</strong>
                                    </li>
                                    <li>
                                        <span id="highlight">6K+</span>订阅,平均每篇文章
                                        <span id="highlight">800+阅读量</span>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <a href="https://zhuanlan.zhihu.com/Ehco-python">知乎专栏：从零开始写Python爬虫</a>
                                <p>2017-05 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        目前有
                                        <span id="highlight">10K+ </span>订阅
                                    </li>
                                    <li>
                                        <a class="link" href="https://zhuanlan.zhihu.com/p/28537306">
                                            <strong>获取
                                                <span id="highlight">支付宝</span>账单信息</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link" href="https://zhuanlan.zhihu.com/p/33831294">
                                            <strong>抓取
                                                <span id="highlight">轮子哥vzch</span>知乎动态</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>本科学历： 苏州科技大学</p>
                                <p>2014 - 2018</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>自学编程
                                        <strong id="highlight">python</strong>
                                    </li>
                                    <li>
                                        <strong id="highlight">CET - 4/6 证书</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>工作经验： 扇贝网web后端</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>小程序
                                        <strong id="highlight">扇贝单词大师/每日英语</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="box message">
                        <span class="tag is-link is-large">个人项目</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>微信订阅号后台系统</p>
                                <p>2017-06 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        <span class="tag is-info is-medium">微信订阅号后台</span>
                                    </li>
                                    <li>
                                        自定义
                                        <span id="highlight">关键词</span>自动回复
                                    </li>
                                    </li>
                                    <li>接入
                                        <span id="highlight">nlp分析api</span>人脸识别
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>django-sspanl (github 800+ star)</p>
                                <p>2017-08 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        <span class="tag is-info is-medium">网络账号分享/多人管理系统</span>
                                    </li>
                                    <li>
                                        前端
                                        <span id="highlight">Bulma</span>
                                    </li>
                                    <li>
                                        后端
                                        <span id="highlight">django</span>
                                    </li>
                                    <li>
                                        数据库
                                        <span id="highlight">Mysql</span>
                                    </li>
                                    <li>部署
                                        <span id="highlight">nginx + uwsgi</span>
                                    </li>
                                    <li>
                                        <a href="https://github.com/Ehco1996/django-sspanel">地址：https://github.com/Ehco1996/django-sspanel</a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="column">
                    <div class="box message">
                        <span class="tag is-link is-large">技术栈</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>Web后端</p>
                            </div>
                            <div class="message-body">
                                <span class="tag is-info is-medium">REST</span>
                                <p>
                                    <span id="highlight">RESTful API </span>设计</p>
                                <p>熟练使用
                                    <span id="highlight">django flask</span>等框架</p>

                                <span class="tag is-info is-medium">数据库</span>
                                <p>基本的SQL语句 增删改查</p>
                                <p>
                                    <span id="highlight">Mysql</span>的基本使用</p>
                                <p>熟练使用 django/peewee 等orm</p>
                                <p>事物操作，原子化操作</p>
                                <p>Nosql kv 数据库</p>

                                <span class="tag is-info is-medium">异步任务</span>
                                <p>日常使用
                                    <span id="highlight">rabbitmq</span>作为消息队列</p>
                                <p>灵活使用
                                    <span id="highlight">celery</span>做task消费</p>
                                <span class="tag is-info is-medium">缓存</span>
                                <p>灵活使用
                                    <span id="highlight">redis</span>各种数据类型</p>
                                <p>了解
                                    <span id="highlight">redis 分布式锁</span>
                                </p>
                                <p>缓存的命中 预热 清除</p>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>devops</p>
                            </div>
                            <div class="message-body">
                                <span class="tag is-info is-medium">docker</span>
                                <p>能配置基本的
                                    <span id="highlight">dockerfile</span>
                                </p>
                                <p>使用
                                    <span id="highlight">docker-compose</span>
                                </p>

                                <span class="tag is-info is-medium">CICD</span>
                                <p>使用
                                    <span id="highlight">gitlab ci</span>实现自动话运维</p>

                                <span class="tag is-info is-medium">kubernetes</span>
                                <p>长期担任
                                    <span id="highlight">k8s admin</span>
                                </p>
                                <p>掌握
                                    <span id="highlight">pod deployment svc kubeproxy</span>等概念</p>

                                <span class="tag is-info is-medium">监控/报警</span>
                                <p>
                                    <span id="highlight">logstash</span>收集日志
                                </p>
                                <p>
                                    <span id="highlight">kibana/es</span>日志管理分析
                                </p>
                                <p>
                                    <span id="highlight">grafana</span>系统负载分析
                                </p>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>工具/其他</p>
                            </div>
                            <div class="message-body">
                                <p>使用
                                    <span id="highlight">mac</span>作为日常开发环境</p>
                                <p>
                                    <span id="highlight">常年</span>使用linux开发部署</p>
                                <p>熟练使用
                                    <span id="highlight">git</span>版本管理工具</p>
                                <p>科学上网，擅用
                                    <span id="highlight">Google/stack overflow</span>检索资料</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Ehco's Resume
                    <strong>Powered by</strong>
                    <a href="https://github.com/Ehco1996">Ehco1996</a>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>