<!DOCTYPE html>
<html lang="zh">
{% load static %}

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />
    <title>Ehco 的个人简历</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

    <style>
        #highlight {
            color: lightcoral;
            font-weight: bold;
        }

        body {
            border: solid 2px;
            color: gray;
            margin-left: 30px;
            margin-right: 30px;
            box-shadow: 0 0 20px rgba(26, 26, 78, 0.8);
        }
    </style>
</head>

<body>
    <section class="hero is-info is-samll">
        <div class="hero-body" id="id-header">
            <div class="container">
                <div class="columns">
                    <div class="column is-5">
                        <div class="box">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-128x128">
                                        <img src="{% static 'img/headimg.png' %}">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p>联系方式: </p>
                                    <ul class="head-info">
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-envelope-o"></i>
                                            </span>
                                            <span>
                                                <strong>zh19960202@gmail.com</strong>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <span>
                                                <strong>1xxxxxxx</strong>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-github"></i>
                                            </span>
                                            <span>
                                                <strong>
                                                    <a href="https://github.com/Ehco1996">Ehco1996</a>
                                                </strong>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="icon">
                                                <i class="fa fa-quora"></i>
                                            </span>
                                            <span>
                                                <strong>
                                                    <a href="https://www.zhihu.com/people/Ehcostuff/activities">Ehco</a>
                                                </strong>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-offset-3">
                        <div class="notification is-link">
                            <p class="title is-1">Ehco</p>
                            <p>爬墙的少年</p>
                            <p class="subtitle is-5">后端/前端/开发/运维</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="hero is-light is-fullheight">
        <div class="container">
            <br>
            <div class="columns">
                <div class="column">
                    <div class="box message">
                        <span class="tag is-link is-large">个人声誉</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>个人微信订阅号:翻山越岭breakwall</p>
                                <p>2016-11 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>主要分享和
                                        <strong>科技/生活相关的信息</strong>
                                    </li>
                                    <li>采用独立开发的后台系统</li>
                                    <li>
                                        <span id="highlight">3K+</span>订阅
                                    </li>
                                    <li>
                                        <strong>公众号:findyourownway</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>知乎专栏：从零开始写Python爬虫</p>
                                <p>2017-05 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        目前有
                                        <span id="highlight">3.5K+ </span>订阅
                                    </li>
                                    <li>热门文章:</li>
                                    <li>
                                        <a class="link" href="https://zhuanlan.zhihu.com/p/28537306">
                                            <strong>获取<span id="highlight">支付宝</span>账单信息</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link" href="https://zhuanlan.zhihu.com/p/27969976">
                                            <strong>12306火车票信息查询</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link" href="https://zhuanlan.zhihu.com/Ehco-python">
                                            <strong>专栏地址</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="box message">
                        <span class="tag is-link is-large">项目经验</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>django-blog</p>
                                <p>2017-04 - 2017-06</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        <span>独立开发的blog系统</span>
                                    </li>
                                    <li>
                                        完善的
                                        <span id="highlight">评论/后台/编辑</span>系统
                                    </li>
                                    <li>
                                        <span>前端：bulma 后端：django1.1</span>
                                    </li>
                                    <li>
                                        <a class="link" href="http://www.ehcoblog.ml/">
                                            <strong>博客地址&nbsp;</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link" href="https://github.com/Ehco1996/django_blog">
                                            <strong>项目地址</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>微信订阅号后台系统</p>
                                <p>2017-06 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        <span>根据开放平台文档接入后台</span>
                                    </li>
                                    <li>
                                        黑苹果
                                        <span>支持关键词回复</span>
                                    </li>
                                    <li>
                                        <span>从数据库返回用户数据</span>
                                    </li>
                                    <li>
                                        动态抓取
                                        <span id="highlight">糗事百科</span>笑话返回
                                    </li>
                                    <li>
                                        动态抓取
                                        <span id="highlight">Google图片</span>返回
                                    </li>
                                    <li>
                                        <span id="highlight">12306</span>火车票查询系统
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>django-sspanl (谜之屋)</p>
                                <p>2017-08 - 至今</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>
                                        <span>一个全新的网络账号分享/多人管理系统</span>
                                    </li>
                                    <li>
                                        <span>完善的注册/邀请/计费/充值/后台/用户管理系统</span>
                                    </li>
                                    <li>
                                        使用
                                        <span id="highlight">HTTPS/SSL证书</span>保证用户信息安全
                                    </li>
                                    <li>
                                        <span>具有配套使用的
                                            <strong id="highlight">telegram bot 机器人</strong>
                                        </span>
                                    </li>
                                    <li>
                                        <span>前端：bulma 后端：django1.1</span>
                                    </li>
                                    <li>
                                        <a href="https://www.ehcozone.ml/">
                                            <strong>demo地址</strong>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/Ehco1996/django-sspanel">
                                            <strong> 项目地址</strong>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="box message">
                        <span class="tag is-link is-large">教育经历</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>苏州科技大学</p>
                                <p>2018 - 毕业</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>大一：学生会外联部</li>
                                    <li id="highlight">大二：CET-6</li>
                                    <li>大三：分期乐校园经理/自学编程</li>
                                    <li>大四：开始寻找实习</li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>中国大学MOOC</p>
                                <p>2017 - 年中</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>北京理工大学：Python语言程序设计证书</li>
                                    <li>北京理工大学：Python网络爬虫与信息提取证书</li>
                                    <li>南京大学：用Python玩转数据证书</li>
                                    <li>浙江大学：面向对象程序设计--Java语言</li>
                                </ul>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>语言水平</p>
                                <p>CET - 4 / 6</p>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li>大一下/大二上 裸考通过等级考试</li>
                                    <li>一定的英文听说读写能力</li>
                                    <li>曾上过全英文慕课:
                                        <strong id="highlight">哈佛大学公开课：cs50</strong>
                                    </li>
                                    <li>
                                        <strong>能无障碍使用英文开发文档</strong>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="column">
                    <div class="box message">
                        <span class="tag is-link is-large">技术栈</span>
                        <hr>
                        <article class="message">
                            <div class="message-header">
                                <p>Web前端</p>
                            </div>
                            <div class="message-body">
                                <span class="tag is-info is-medium">HTML/CSS</span>
                                <p>了解
                                    <span id="highlight">HTML5/CSS3 </span>并能熟练使用部分新特性</p>
                                <p>使用常见框架/bootstrap/bulam/prue快速布局网页</p>
                                <p id="highlight">编写响应式/移动端网页</p>
                                <span class="tag is-info is-medium">ECMAScript（JavaScript）</span>
                                <p>熟悉 JavaScript
                                    <span id="highlight">代码编写遵守规范</span>
                                </p>
                                <p>使用常见的js库 如
                                    <span id="highlight">Jquery/Vue.js</span>
                                </p>
                                <p>了解并使用
                                    <span id="highlight">Ajax技术</span>动态请求后端数据</p>
                                <p>了解 JavaScript 面向对象知识</p>
                                <p>学习 ECMAScript 规范 掌握部分
                                    <span id="highlight">ES6/7</span>中的新增特性</p>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>Web后端</p>
                            </div>
                            <div class="message-body">
                                <span class="tag is-info is-medium">Python/爬虫/算法</span>
                                <p>熟练掌握Python2/3基础语法知识</p>
                                <p>了解Python
                                    <span id="highlight">面向对象/列表推导</span>等高级用法</p>
                                <p>熟练使用
                                    <span id="highlight">requests</span>模块编写爬虫</p>
                                <p>基本掌握
                                    <span id="highlight">Scrapy</span>爬虫框架的使用</p>
                                <p>应对
                                    <span id="highlight">反爬虫</span>技术的对策</p>
                                <p>经常去
                                    <span id="highlight">leetcode</span>做一些算法题来锻炼思维</p>
                                <p>能利用轮子快速构建项目</p>
                                <span class="tag is-info is-medium">HTTP/HTTPS</span>
                                <p>了解完整的HTTP请求的过程</p>
                                <p>了解大多
                                    <span id="highlight">HTTP状态码</span>的含义</p>
                                <p>了解HTTPS的基本原理和
                                    <span id="highlight">SSL证书</span>的配置</p>
                                <p>了解服务器于客户端交流时request/response是怎么样的</p>
                                <span class="tag is-info is-medium">MVC开发框架</span>
                                <p>
                                    <span id="highlight">RESTful API </span>设计</p>
                                <p>熟练使用
                                    <span id="highlight">django</span>作为web后端开发框架</p>
                                <p>了解
                                    <span id="highlight">flask</span>框架，并尝试阅读源码</p>
                                <span class="tag is-info is-medium">SQL/数据库</span>
                                <p>能书写基本的SQL语句 增删改查</p>
                                <p>熟练掌握
                                    <span id="highlight">Sqlite</span>的基本使用</p>
                                <p>熟练掌握
                                    <span id="highlight">Mysql</span>的基本使用</p>
                                <p>熟练使用django
                                    <span id="highlight">ORM</span>来管理数据</p>
                                <p>利用
                                    <span id="highlight">MogoDB</span>开发过爬虫爬取10w+数据</p>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>Linux运维</p>
                            </div>
                            <div class="message-body">
                                <span class="tag is-info is-medium">linux</span>
                                <p>
                                    <span id="highlight">两年</span>使用linux经验</p>
                                <p>能够编写简单的shell脚本，从而自动化运行服务</p>
                                <p>日常使用
                                    <span id="highlight">Screen、superviso</span>r等工具管理linux服务</p>
                                <p>
                                    <span id="highlight">Nginx/Nvm</span>等常用组件的配置与使用</p>
                                <span class="tag is-info is-medium">VPS</span>
                                <p>熟悉Vps的使用</p>
                                <p>利用Vultr/DigitalOcean/Aws/阿里云部署项目</p>
                                <p>域名购买/CDN服务的使用</p>
                            </div>
                        </article>
                        <article class="message">
                            <div class="message-header">
                                <p>工具/其他</p>
                            </div>
                            <div class="message-body">
                                <span class="tag is-info is-medium">科学上网</span>
                                <p>
                                    <span id="highlight">Google/Gmail</span>重度用户</p>
                                <p>习惯阅读官网英文文档</p>
                                <p>利用Google/stackflow来查找解决问题</p>
                                <p>能配置多人/大规模/集群式/科学上网环境</p>
                                <span class="tag is-info is-medium">Git/开源项目</span>
                                <p>熟练掌握
                                    <span id="highlight">Git/Github</span>的使用</p>
                                <p>持续
                                    <span id="highlight">200+</span>天坚持commit
                                </p>
                                <p>了解多人协同开发的基本流程和
                                    <span id="highlight">分支管理</span>
                                </p>
                                <p>了解开源项目的基本运作流程</p>
                                <p>参与过
                                    <span id="highlight">bulma/python-alipay-sdk</span>等开源项目</p>
                                <p>了解
                                    <span id="highlight">MIT/GPL</span>等常用协议</p>
                                <span class="tag is-info is-medium">工具</span>
                                <p>熟练掌握
                                    <span id="highlight">Markdown</span>的书写语法</p>
                                <p>日常使用
                                    <span id="highlight">Vscode</span>作为主力开发工具</p>
                                <p>Docker的基本使用</p>
                                <span class="tag is-info is-medium">计算机基础</span>
                                <p>小学时代开始接触PC，有一定的硬件维护/检修能力</p>
                                <p>
                                    <span id="highlight">黑苹果</span>爱好者，能给普通家用机装上Mac os</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Ehco's Resume
                    <strong>Prowered by</strong>
                    <a href="https://github.com/Ehco1996">Ehco1996</a>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>